{{name|lower}}  <br>
{{city|upper}}  <br>
<br><br>
{{name|capfirst}}  <br>
{{city|wordcount}}  <br>

{{name|title}}  <br>
<pre> {{city|center:'40'}}  <br></pre>
{{p|title}}  <br>
{{p|wordcount}} <br>
{{p|capfirst}} <br>

<pre> {{city|ljust:'20'}}  <br></pre><br>
<pre> {{city|rjust:'40'}}  <br></pre><br>
<pre> {{p|length}}  <br></pre>
<pre> {{p|truncatechars:'5'}}  <br></pre>
<pre> {{p|truncatewords:'2'}}  <br></pre>
welcome {{name1|default:'guest'|upper|lower}}

<!-- last wala filter apply hoga multiple filters me -->