
{% for i in messages  %}
    {{i}}
{% endfor %}
    
<form action="" method="POST">
    {% csrf_token %}
    <label for="">name</label>
    <input type="text" name="name"><br>
    <label for="">email</label>
    <input type="text" name="email"><br>
    <label for="">contact</label>
    <input type="text" name="contact"><br>
    <label for="">department</label>
    <input type="text" name="department"><br>
    <label for="">emp_code</label>
    <input type="text" name="emp_code"><br>
    <label for="">password</label>
    <input type="text" name="password"><br>
    

    <input type="submit" value="add employee">

</form>