{% extends 'landing(base).html' %}
{% block content %}
{% comment %} {{xyz}}
{% if xyz %}
   hello{{xyz}}
{% elif xyz1 %}   
     welcome {{xyz1}}
{% else %}     
    do not come from views
{% endif %} {% endcomment %}
{% if xyz %}

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Age</th>
    </tr> 
    </thead>
    <tbody>
    {% for i in xyz %} 

    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>

    </tr>   
    {% endfor %}
    </tbody>

</table>

{% endif %}
{% endblock content%}