<head>
    {% block title %}

    {% endblock %}

    {% block css %}

    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <a href="{% url 'login' %}"><button type="submit">login</button></a>
            <button><a href="{% url 'contact' %}">contact</a></button>
            <button><a href="{% url 'register' %}">register</a></button>
        </ul>
    </nav>
    {% block content %}


    {% endblock content %}

    <footer>
        <p>asddffgggggggg</p>
        <p>Contact <a href="mailnlql@example.com">contact@example.com</a></p>


    </footer>
 


</body>